
.contentContainer{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

.header{
  background-color: #716CB0;
  display: inline-block;
  padding: 2% 0;
  width:100%;
}

.logoContainer{
  margin: 0 auto;
  text-align: center;
}

.searchFeature{
  text-align: center;
  padding: 2%;
}

.searchResults li{
  list-style: none;
  display: inline-block;
  margin-right: 2%;
}

.searchResultsHeaders li{
  font-weight: 600;
  list-style: none;
  display: inline-block;
  margin-right: 2%;
  
}

select{
  font-size: 16px;
  padding: 4px;
}

.searchName{
 /* width:40%;*/
}

.tableContainer{
  width:100%;
  display:inline-block;
}


@media screen and (max-width: 550px){
  .table-responsive{
    padding-left:0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
  }
  
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding-left: 1px !important; 
    padding-right: 2px !important;
  }

  .tableContainer{
    width:100%;
    
  }
  
  .searchName{
   /*  width:10%;*/
    width:1%;
  }
  
  td.wide-col, th.wide-col {
    width: 1%;
  }
  
  td.wide-col{
  }
}